/* NewTaskForm.jsx */
form {
    max-width: 400px;
    margin: auto;
  }
  
  label {
    display: block;
    margin: 10px 0;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  button {
    background-color: #61dafb;
    color: white;
    padding: 10px
  }